header {
	background-color: lightgray;
	height: 60px;
	position: fixed;
}

nav {
	position: relative;
}

header ul {
	list-style: none;
	position: absolute;
	right: 10px;
}

header ul li {
	display: inline-block;
	font-size: 20px;
}

body{
	margin: 0;
}

#results {
	list-style: none;
}

.title {
	font-weight: bold;
	font-size: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

.date, .location {
	color: gray;
	font-size: 20px;
}