* {
	font-family: 'Roboto', sans-serif;
}

body{
	margin: 0;
}

header {
	position: fixed;
	top:0;left:0;right:0;
	background-color: lightgray;
}

header h1, header nav, nav ul, nav ul li {
	display: inline-block;
	font-size: 18px;
}
nav {
	position: absolute;
	right: 10px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

main {
	margin-top: 100px;
	margin-left: 75px;
}

.search-logo {
	width: 30px;
	border: 1px solid lightgray;
	border-radius: 3px;
}

.search-nav {
	padding-top: 20px;
	font-size: 0px;
}

.search-nav-button, .search-nav-position {
	display: inline-block;
	margin: 0px;
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 10px;
	font-size: 16px;
}

.results {
	list-style: none;
	padding: 0;
}

.result-title {
	font-weight: bold;
	font-size: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

.result-date, .result-location {
	color: gray;
	font-size: 20px;
}
